//Colours of Pokemon types
$normal-colour: #A8A878;
$fire-colour: #EF7F2F;
$water-colour: #6890EF;
$grass-colour: #77C74F;
$electric-colour: #F7CF2F;
$ice-colour: #97D7D7;
$ground-colour: #DFBF67;
$flying-colour: #A78FEF;
$poison-colour: #9F3F9F;
$fighting-colour: #BF2F27;
$psychic-colour: #F75787;
$dark-colour: #6F5747;
$rock-colour: #B79F37;
$bug-colour: #A7B71F;
$ghost-colour: #6F5797;
$steel-colour: #B7B7CF;
$dragon-colour: #6F37F7;
$fairy-colour: #FEADC8;
$unknown-colour: #b6b6b6;
$shadow-colour: #390044;
