@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

.water {
  background-color: $water-colour;
}

.ice {
  background-color: $ice-colour;
}

.normal {
  background-color: $normal-colour;
}

.fire {
  background-color: $fire-colour;
}

.grass {
  background-color: $grass-colour;
}

.electric {
  background-color: $electric-colour;
}

.ground {
  background-color: $ground-colour;
}

.flying {
  background-color: $flying-colour;
}

.poison {
  background-color: $poison-colour;
}

.fighting {
  background-color: $fighting-colour;
}

.poison {
  background-color: $poison-colour;
}
.flying {
  background-color: $flying-colour;
}

.psychic {
  background-color: $psychic-colour;
}

.dark {
  background-color: $dark-colour;
}

.rock {
  background-color: $rock-colour;
}

.bug {
  background-color: $bug-colour;
}

.ghost {
  background-color: $ghost-colour;
}

.steel {
  background-color: $steel-colour;
}

.dragon {
  background-color: $dragon-colour;
}

.fairy {
  background-color: $fairy-colour;
}

.unknown {
 background-color: $unknown-colour;
}

.shadow {
  background-color: $shadow-colour;
 }


