<div class="jumbotron text-center">
  <h1>Caterpiedia</h1>
  <p>The easiest way of seeing the first 20 Pokemon and all you'd ever need to know about types!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Pokemon</h3>
      <p>View the first 20 Pokemon, including all their moves, types and many more</p>
      <a [routerLink]="[appRoutes.POKEMON]">View All Pokemon</a>
    </div>
    <div class="col-sm-4">
      <h3>Types</h3>
      <p>Here you will see all discovered Pokemon Types, and learn all about them</p>
      <a [routerLink]="[appRoutes.TYPES]">View Types</a>
    </div>
  </div>
</div>
